<app-admin-leftnav></app-admin-leftnav>

<div class="container">
  <div class="top">
    <div class="topleft">
      OVERVIEW
    </div>
    <div class="topmid">
      <img src="./assets/images/search.png" alt="">
      <input type="text" class="midinput" placeholder="Search">
    </div>
    <div class="topright">
      <img src="./assets/images/notification.png" alt="">
      <img src="./assets/images/userimg.png" alt="">
      <img src="./assets/images/arrow-down.png" alt="">
    </div>
  </div>
  <div class="content">
    <div class="contenttop">
      <div>Request NO.</div>
      <div>User ID</div>
      <div>Date</div>
      <div>Status</div>
      <div>Action</div>
    </div>
    <div class="contentmid">
      <ul>
        <li *ngFor="let i of items">
          <div class="req">{{i.req}}</div>
          <div class="uid">{{i.uid}}</div>
          <div class="dat">{{i.dat}}</div>
          <div class="sta garyclor">{{i.sta}}</div>
          <button *ngIf="i.mode" mat-raised-button color="primary" routerLink="/en-US/admin/{{i.route}}">
            <span class="action">{{i.mode}}</span>
          </button>
          <div *ngIf="!i.mode" class="hidebox"></div>
        </li>

      </ul>
    </div>
    <div class="contentfooter">
      <div class="pageword">Rows per page：</div>
      <div class="pagecount">
        <span>10</span>
        <img src="./assets/images/arrow_drop_down_black.png" alt="">
      </div>
      <div class="pagetotal">1-10 of 100</div>
      <div class="pagearrows">
        <img src="./assets/images/arrow-left.png" alt="">
        <img src="./assets/images/arrow-right.png" alt="">
      </div>
    </div>
  </div>
</div>
