
.leftnav {
  position: fixed;
  width: 250px;
  height: 100%;
  border-right: 2px solid #9AA1A7;
  background-color: #DBE4EB;
}
.container {
  margin-left: 250px;
  padding: 20px;
}
.userbox img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 40%;
  margin-bottom: 50px;
}
.userbox {
  font-size: 12px;
  padding-bottom: 60px;
}
.userbox .username,.useraddress {
  display: flex;
  margin: 10px;
  margin-left: 20%;
  font-weight: bold;
}

.userbox .username label {
  color: #666A6E;
  width: 80px;
}

.userbox .username div {
  color: #666A6E;
}

.userbox .useraddress label {
  color: #666A6E;
  width: 80px;
}
.userbox .useraddress div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666A6E;
}
.leftmid {
  width: 100%;
}
.leftmid .cnyt,.hkdt {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 20px;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #9AA1A7;
  border-bottom: 2px solid #9AA1A7;;
  cursor: pointer;
  color: #666A6E;
}
/*.leftmid .cnyt:hover {
  background-color: #e2e5ea;
}

.leftmid .hkdt:hover {
  background-color: #e2e5ea;
}*/
.leftmid .hkdt {
  border-top: 0;
}
.leftmid .circle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #c6c9ce;
  position: absolute;
  left: 10px;
}

nav a.active {
  background-color: #e2e5ea
}
