<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">Verify</div>
  </div>
  <div class="midtip">
    <img src="./assets/images/submit-blue.png">
    <img src="./assets/images/check-white.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Verify</div>
  </div>
  <div class="midcontent">
    <image-upload [max]="1" [buttonCaption]="'Upload'" [clearButtonCaption]="'Remove'"  [dropBoxMessage]="'
    Upload your passpost'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"></image-upload>
    <!-- <p *ngFor="let item of file">
      {{item.name}}
    </p> -->
    <image-upload [max]="1" [buttonCaption]="'Upload'" [clearButtonCaption]="'Remove'" [dropBoxMessage]="'
    Upload your selfie'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"></image-upload>
  </div>
  <div class="dbutoons">
    <button mat-raised-button routerLink="/en-US/gateway/kycprocess/verify">
      <div class="action">Submit</div>
    </button>
  </div>


</div>
