.graycolor {
  background-color: #DBE4EB;
  .action {
    color: #9AA1A7;
  }
}
.garyclor {
  color: #666A6E;
}
.ligthgarycolor{
  color: #9AA1A7;
}

.container {
  margin-left: 250px;
  padding: 40px 20px;
  padding-top: 10px;
  .top {
    .topleft{
      cursor: pointer;
      color: #666A6E;
      font-size: 18px;
      display: flex;
      margin-top: 20px;
      border-bottom: 1px solid #DBE4EB;
      padding-bottom: 10px;
      img {
        width: 8px;
        height: 13px;
        margin: 5px 0 0 10px;
      }
      .back {
        width: 20%;
        padding-left: 5px;
      }
      .titleword {
        width: 55%;
        text-align: center;
      }
    }
  }
  .content{
    .midtip {
      display: flex;
      justify-content: space-between;
      margin: 250px;
      margin-top: 30px;
      margin-bottom: 0;
      position: relative;
      .part1,.part2 {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 52px;
        height: 52px;
        margin-bottom: 10px;
      }
      .heng {
        width: 90%;
        height: 5px;
        background-color: #DBE4EB;
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
      }
    }
    .miduser {
      width: 100%;
      margin-top: 20px;
      .userbox{
        margin-top: 20px;
        border: 1px solid #979797;
        display: flex;
        justify-content: space-between;
        background-color: #FBFCFC;
        padding: 20px 40px;
        .boxleft{
          color: #9BA1A7;
          .part1 {
            display: flex;
            margin-bottom: 20px;
          }
          .part2 {
            display: flex;
          }
        }
        .boxright{
          .part1{
            font-size: 8px;
            color: #9BA1A7;
            margin-bottom: 5px;
            text-align: right;
          }
          .part2{
            display: flex;
            color: #666A6E;
            font-size: 24px;
          }
        }
      }
    }
    .midrequest {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      .requestbox{
        margin-top: 20px;
        border:1px solid #979797;
        .boxtitle{
          background-color: #FBFCFC;
          display: flex;
          justify-content: space-between;
          padding: 20px 40px;
          border-bottom: 1px solid #979797;
          .titleleft{
            color: #9BA1A7;
            div:nth-of-type(1){
              font-size: 8px;
              margin-bottom: 5px;
            }
          }
          .titleright{
            color: #9BA1A7;
            div:nth-of-type(1) {
              font-size: 8px;
              margin-bottom: 5px;
              text-align: right;
            }
          }
        }
        .boxcontent{
          display: flex;
          // justify-content: space-between;
          .contentleft{
            display: flex;
            padding: 20px 40px;
            width: 50%;
            // width: 40%;
            >div {
              margin-bottom: 10px;
              text-align: center;
              p {
                margin-bottom: 10px;
              }
            }
            .passpost{
              margin-right: 20px;
            }
          }
          .contentrigth{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-top: 35px;
            font-size: 20px;
            // margin-right: 100px;
            .part1 {
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
              padding-right: 95px;
              .buttons {
                margin-top: 10px;
              }
            }
            .part2 {
              .rejocktext {
                width: 80%;
                height: 130px;
                resize: none;
                margin-bottom: 10px;
                padding: 10px;
                box-sizing: border-box;
                outline: none;
              }
              .butotns {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
                margin-right: 95px;
              }
            }
          }
        }
      }
    }
    .dbutoons {
      width: 100%;
      display: flex;
      justify-content: center;
      .action {
        color: white;
        font-family: futura;
      }


    }
    .hideBox {
      position: fixed;
      bottom: 0;
      left: 28%;
      transform: translate(3%);
      background-color: #666A6E;
      img {
        margin-top: 10px;
        width: 10px;
        height: 10px;
        margin-left: 10px;
      }
      .white{
        color: white;
        font-size: 10px;
        margin-right: 10px;
      }
      .blue{
        font-size: 10px;
        color: #1DA2FE;
        margin-right: 10px;
      }
    }
  }
}


