<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">Withdraw</div>
  </div>
  <div class="midtip">
    <img src="./assets/images/submit-white.png">
    <img src="./assets/images/transfer-blue.png">
    <img src="./assets/images/mint-white.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Transfer</div>
    <div>Burn</div>
  </div>
  <div class="midcontent">
    <div class="part1" >
      <div >Transfer to Gateway Address :</div>
    </div>
    <div class="part2">
      <div style="color: #9BA1A7; text-align: center;">{{assetGatewayAddress}}</div>
    </div>

    <mat-form-field class="part2">
      <input [(ngModel)]="model.amount" matInput placeholder="Amout" type="text">
    </mat-form-field>
  </div>
  <div class="dbutoons">
    <button mat-raised-button (click)="submit()"><div class="action">Submit</div></button>
  </div>

</div>
