<div class="leftnav">
  <div class="title">AGW ADMIN</div>
  <div class="opation">
    <div class="part1">OVERVIEW</div>
    <a class="part2" routerLink="/en-US/admin/overview">
      <img src="./assets/images/deposit-arrow.png" alt="">
      <div>Deposit</div>
    </a>
    <a class="part3" routerLink="/en-US/admin/withdraw">
      <img src="./assets/images/withdraw-arrow.png" alt="">
      <div>Withdraw</div>
    </a>
    <a class="part4" routerLink="/en-US/admin/kycprocess">
      <img src="./assets/images/kyc-black.png" alt="">
      <div>KYC</div>
    </a>
    <div class="part5">
      <img src="./assets/images/userimg.png" alt="">
      <div>User</div>
    </div>
  </div>
</div>
